@{
    ViewData["Title"] = "Portfolio";
}

<div role="main" class="main">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 text-center text-lg-left">
                <h2 class="font-weight-bold text-4 line-height-1 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500"><span class="text-5">Hello, I'm a <span class="text-color-primary alternative-font-2">Full Stack Web Developer</span> From Dhaka, Bangladesh.</span></h2>
            </div>
            <div class="col-lg-3 text-center text-lg-right">
                <h4 class="text-3 line-height-6 font-weight-normal appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="800"><span class="opacity-6">I'm specialized in Asp.Net Core, Asp.Net, MVC, Web API, Project Architecture etc.</span></h4>
            </div>
            <div class="col-lg-2 text-center text-lg-right">
                <a class="btn btn-outline btn-rounded btn-primary btn-with-arrow mb-5 mb-lg-2 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1100" href="#">Say Hi <span><i class="fas fa-chevron-right"></i></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
                    <div class="owl-carousel owl-theme nav-inside nav-style-1 nav-light mt-2" data-plugin-options="{'items': 1, 'margin': 10, 'nav': true, 'dots': false, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}">
                        <div>
                            <div class="img-thumbnail border-0 p-0 d-block">
                                <img class="img-fluid border-radius-0" src="~/img/slides/01.jpg" alt="">
                            </div>
                        </div>
                        <div>
                            <div class="img-thumbnail border-0 p-0 d-block">
                                <img class="img-fluid border-radius-0" src="~/img/slides/02.jpg" alt="">
                            </div>
                        </div>
                        <div>
                            <div class="img-thumbnail border-0 p-0 d-block">
                                <img class="img-fluid border-radius-0" src="~/img/slides/03.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
        <hr class="my-5">
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="500">
                    <ul class="nav nav-pills sort-source sort-source-style-3" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'masonry', 'filter': '*'}">
                        <li class="nav-item active" data-option-value="*"><a class="nav-link text-1 text-uppercase active" href="#">Show All</a></li>
                        <li class="nav-item" data-option-value=".websites"><a class="nav-link text-1 text-uppercase" href="#">Websites</a></li>
                        <li class="nav-item" data-option-value=".logos"><a class="nav-link text-1 text-uppercase" href="#">Logos</a></li>
                        <li class="nav-item" data-option-value=".brands"><a class="nav-link text-1 text-uppercase" href="#">Brands</a></li>
                        <li class="nav-item" data-option-value=".medias"><a class="nav-link text-1 text-uppercase" href="#">Medias</a></li>
                    </ul>

                    <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
                        <div class="row portfolio-list sort-destination" data-sort-id="portfolio">


                            <div class="col-sm-6 col-lg-3 isotope-item brands">
                                <div class="portfolio-item">
                                    <a href="portfolio-single-wide-slider.html">
                                        <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
                                            <span class="thumb-info-wrapper border-radius-0">
                                                <img src="~/img/projects/project-masonry.jpg" class="img-fluid border-radius-0" alt="">
                                                <span class="thumb-info-title">
                                                    <span class="thumb-info-inner">Presentation</span>
                                                    <span class="thumb-info-type">Brand</span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-3 isotope-item medias">
                                <div class="portfolio-item">
                                    <a href="portfolio-single-wide-slider.html">
                                        <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
                                            <span class="thumb-info-wrapper border-radius-0">
                                                <span class="owl-carousel owl-theme dots-inside m-0" data-plugin-options="{'items': 1, 'margin': 20, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 3000}"><span><img src="~/img/projects/project-masonry-1.jpg" class="img-fluid border-radius-0" alt=""></span><span><img src="~/img/projects/project-masonry-1-2.jpg" class="img-fluid border-radius-0" alt=""></span></span>
                                                <span class="thumb-info-title">
                                                    <span class="thumb-info-inner">Porto Watch</span>
                                                    <span class="thumb-info-type">Media</span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-3 isotope-item logos">
                                <div class="portfolio-item">
                                    <a href="portfolio-single-wide-slider.html">
                                        <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
                                            <span class="thumb-info-wrapper border-radius-0">
                                                <img src="~/img/projects/project-masonry-2.jpg" class="img-fluid border-radius-0" alt="">
                                                <span class="thumb-info-title">
                                                    <span class="thumb-info-inner">Identity</span>
                                                    <span class="thumb-info-type">Logo</span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-3 isotope-item websites">
                                <div class="portfolio-item">
                                    <a href="portfolio-single-wide-slider.html">
                                        <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
                                            <span class="thumb-info-wrapper border-radius-0">
                                                <img src="~/img/projects/project-masonry-29.jpg" class="img-fluid border-radius-0" alt="">
                                                <span class="thumb-info-title">
                                                    <span class="thumb-info-inner">Porto Screens</span>
                                                    <span class="thumb-info-type">Website</span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-3 isotope-item logos">
                                <div class="portfolio-item">
                                    <a href="portfolio-single-wide-slider.html">
                                        <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
                                            <span class="thumb-info-wrapper border-radius-0">
                                                <img src="~/img/projects/project-masonry-5.jpg" class="img-fluid border-radius-0" alt="">
                                                <span class="thumb-info-title">
                                                    <span class="thumb-info-inner">Three Bottles</span>
                                                    <span class="thumb-info-type">Logo</span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-3 isotope-item brands">
                                <div class="portfolio-item">
                                    <a href="portfolio-single-wide-slider.html">
                                        <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
                                            <span class="thumb-info-wrapper border-radius-0">
                                                <img src="~/img/projects/project-masonry-6.jpg" class="img-fluid border-radius-0" alt="">
                                                <span class="thumb-info-title">
                                                    <span class="thumb-info-inner">Company T-Shirt</span>
                                                    <span class="thumb-info-type">Brand</span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-3 isotope-item websites">
                                <div class="portfolio-item">
                                    <a href="portfolio-single-wide-slider.html">
                                        <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
                                            <span class="thumb-info-wrapper border-radius-0">
                                                <img src="~/img/projects/project-masonry-7.jpg" class="img-fluid border-radius-0" alt="">
                                                <span class="thumb-info-title">
                                                    <span class="thumb-info-inner">Mobile Mockup</span>
                                                    <span class="thumb-info-type">Website</span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-3 isotope-item medias">
                                <div class="portfolio-item">
                                    <a href="portfolio-single-wide-slider.html">
                                        <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
                                            <span class="thumb-info-wrapper border-radius-0">
                                                <img src="~/img/projects/project-masonry-24.jpg" class="img-fluid border-radius-0" alt="">
                                                <span class="thumb-info-title">
                                                    <span class="thumb-info-inner">Porto Label</span>
                                                    <span class="thumb-info-type">Media</span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-3 isotope-item logos">
                                <div class="portfolio-item">
                                    <a href="portfolio-single-wide-slider.html">
                                        <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
                                            <span class="thumb-info-wrapper border-radius-0">
                                                <img src="~/img/projects/project-masonry-25.jpg" class="img-fluid border-radius-0" alt="">
                                                <span class="thumb-info-title">
                                                    <span class="thumb-info-inner">Business Folders</span>
                                                    <span class="thumb-info-type">Logo</span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-3 isotope-item websites">
                                <div class="portfolio-item">
                                    <a href="portfolio-single-wide-slider.html">
                                        <span class="thumb-info thumb-info-centered-info thumb-info-no-borders border-radius-0">
                                            <span class="thumb-info-wrapper border-radius-0">
                                                <img src="~/img/projects/project-masonry-26.jpg" class="img-fluid border-radius-0" alt="">
                                                <span class="thumb-info-title">
                                                    <span class="thumb-info-inner">Tablet Screen</span>
                                                    <span class="thumb-info-type">Website</span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section section-no-border section-height-4 mt-5 mb-0">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-4 appear-animation" data-appear-animation="fadeInLeftBig">
                    <h4 class="alternative-font-2 font-weight-bold mb-2 mt-4 mt-md-0 text-6 mb-3">Web API</h4>
                    <p class="px-lg-4 mb-0">
                        Build an Web API for using in your SPA, Mobile Apps &amp; IOT devices.
                    </p>
                </div>
                <div class="col-md-4 mb-2 appear-animation" data-appear-animation="fadeIn">
                    <h4 class="alternative-font-2 font-weight-bold mb-2 mt-4 mt-md-0 text-6 mb-3">Asp.Net MVC</h4>
                    <p class="px-lg-4 mb-0">
                        Build an Asp.Net MVC web app with all the customization you like.
                    </p>
                </div>
                <div class="col-md-4 appear-animation" data-appear-animation="fadeInRightBig">
                    <h4 class="alternative-font-2 font-weight-bold mb-2 mt-4 mt-md-0 text-6 mb-3">Project Architecture</h4>
                    <p class="px-lg-4 mb-0">
                        Get the best project architecture for your Asp.Net Core &amp; Asp.Net(Generic) projects.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>